.wraper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:20px;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: rgb(246, 246, 246);
}
